<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titanic Survival Predictor</title>
</head>
<body>

    <h1>Titanic Survival Predictor</h1>

    <form action="/predict" method="post">
        <label for="Pclass">Pclass:</label><br>
        <input type="text" id="Pclass" name="Pclass" required><br><br>

        <label for="Sex">Sex:</label><br>
        <input type="text" id="Sex" name="Sex" required><br><br>

        <label for="Age">Age:</label><br>
        <input type="text" id="Age" name="Age" required><br><br>

        <label for="SibSp">SibSp:</label><br>
        <input type="text" id="SibSp" name="SibSp" required><br><br>

        <label for="Parch">Parch:</label><br>
        <input type="text" id="Parch" name="Parch" required><br><br>

        <label for="Fare">Fare:</label><br>
        <input type="text" id="Fare" name="Fare" required><br><br>

        <label for="Cabin">Cabin:</label><br>
        <input type="text" id="Cabin" name="Cabin" required><br><br>

        <label for="Embarked">Embarked:</label><br>
        <input type="text" id="Embarked" name="Embarked" required><br><br>

        <input type="submit" value="Submit">
    </form>

</body>
</html>